<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
</head>

<body>
    <div th:replace="fragments/header :: header"></div>

    <form style="text-align: center;" th:action="@{addBook}" method="post" enctype="multipart/form-data">
        <div>
            <label>Book Cover Photo (Optional)</label>
            <input type="file" name="filedata" />
        </div>
        <br />
        <div>
            <label>Book Name *</label>
            <input type="text" name="name" required>
        </div>

        <br />

        <div>
            <label>Author</label>
            <input type="text" name="writterName">
        </div>

        <br />
        <div>
            <label>Language</label>
            <input type="text" name="language">
        </div>

        <br />

        <div>
            <label>Type</label>
            <input type="text" name="type">
        </div>
        <br />

        <div>
            <label>Number of books</label>
            <input type="number" required name="numberOfBooks">
        </div>
        <br />

        <div>
            <input class="btn btn-primary" type="submit">
        </div>
    </form>
    <div class="btn btn-primary" th:replace="fragments/footer :: footer"></div>

</body>

</html>