<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>

<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <div class="card bg-light mt-5">
            <div class="card-body">
                <div style="text-align: center;" class="mt-5">
                    <form th:action="@{/registration}" method="post">
                        <div>
                            <label>First Name</label>
                            <input type="text" name="firstName" th:value="${firstName}">
                        </div><br />
                        <div>
                            <label>Last Name</label>
                            <input type="text" name="lastName" th:value="${lastName}">
                        </div><br />
                        <div>
                            <label>Email</label>
                            <input type="email" name="email" th:value="${email}">
                        </div>
                        <div class="text-danger" th:if="${emailError!=null}" th:text="${emailError}"></div>
                        <br />
                        <div>
                            <label>Password</label>
                            <input type="password" name="password">
                        </div><br />
                        <div>
                            <label>Confirm Password</label>
                            <input type="password" name="confirmPassword">
                        </div><br />
                        <div class="text-danger" th:if="${confirmPasswordError!=null}"
                            th:text="${confirmPasswordError}"></div>
                        <div>
                            <input class="btn btn-primary" type="submit" value="Registration">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="btn btn-primary" th:replace="fragments/footer :: footer"></div>

</body>

</html>