<html>

<body style="text-align: center;">
	<div th:replace="fragments/header :: header"></div>

	<h1>Welcome to Nilkhet Jai Project</h1>
	<h1 th:text="${name}" class="text-info"></h1>

	<br />
	<div>
		<a class="btn btn-primary" th:href="@{/addBook}">Add Book</a>
	</div>
	<br />
	<div>
		<a class="btn btn-primary" th:href="@{/makeAvailable}">Make Available</a>
	</div>
	<br />
	<div>
		<a class="btn btn-primary" th:href="@{/shareBook}">Share Book</a>
	</div>
	<br />
	<div>
		<a class="btn btn-danger" th:href="@{/logout}">Logout</a>
	</div>
	<div class="btn btn-primary" th:replace="fragments/footer :: footer"></div>

</body>

</html>